
body, html {
    padding:0;
    margin:0;
    background-color:#454545;
	font-family: 'Jura';
    height:100%;
}

.server-box {
	padding:10px;
    height: auto;
    display:block;
    width: auto;
    box-shadow: 1px 0px 0px #afafaf;
}

div.server-box:hover {
	background-color: #343434;
}


#three-view {
	display:none;
}

.content-view {
	height:100%;
	width:100%;
	transition: all .4s linear;
	display: block;
}

.content-disabled {
	width: 0;
    height:0;
	display:none;
	transition: none;
}



.content-map-view {

}

.menu h3 {

    padding: 10px;
    padding-top:0;
}

.menu li {
	list-style-type: none;
    padding: 10px;
    cursor: pointer;
}

.menu li:hover {
	background-color:#f9f9f9;
}

.menu ul {
	padding:0;
    list-style-type: none;
}












.container {
    width: 100%;
    float:left;
    height:100%;
    overflow:hidden; 
}

#firstbar {

    float:left;
    width:150px;
	height:100%;
    background:#efefef;
}
#secondbar{
	background-color: #343434;
	color: #efefef;
    width: 250px;
    float:left;
    height:100%;
}
#thirdbar{
	height:100%;
    overflow: hidden;
    background:#DEDEDE;
}


.bottom-menu {
	bottom:0;
	position:fixed;
	width:150px;
}

   
#secondbar h4 {
	padding: 10px;
	padding-top:0;
}



#three-view {
    width: 200px;
    height: 200px;
}

#nodes {
    float:left;
}


.server-info {
	padding:10px;
    height: auto;
    display:block;
    width: auto;
    box-shadow: 1px 0px 0px #afafaf;
}


div.server-info:hover {
	background-color:#565656;
}


#what-view {
    background: #DEDEDE;
}

.what-container {
    padding:10px;
}