server {

    listen      [::]:80;
    listen      80;

        root /var/www/site;
        index index.php index.html index.htm;

        server_name www.kartan.no;


        include /etc/nginx/conf.d/apps/*;
}
