<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Overskya</title>
        
        <style>
        
            body, html {
                padding:0;
                margin:0;
                height:100%;
            }
            #sidebar {
                float:left;
                width:300px;
                background-color:#efefef;
                height:100%;
            }            
            
            #nodes {
                float:left;
            }
        </style>  
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        
        <div id="sidebar">
            <h3>Overskya</h3>
            
            <ul>
                <li id="menu-summary">Overview</li>
                <li id="menu-graph">Load</li>
                <li id="menu-map">Map</li>
            </ul>
            
        </div>
        
        <div id="map-view"></div>
        <div id="graph-view"></div>
        <div id="summary-view">
        
        
        </div>
        
        <script type="text/template" id="server-box-template">
        <div class="server-box">
            <%= text %>
        </div>
        </script>

        <script type="text/template" id="serverTemplate">
            <div id=<%=id%>
            <p>cpus: <%=cpus.length%></p>
            <p>memory: <%= Number(memory.free/Math.pow(1024,3)).toFixed(2) %> / <%=Number(memory.total/Math.pow(1024,3)).toFixed(2)%> GB</p>
            </div>
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone.js"></script>
        <!-- <script src="../bower_components/openlayers3/build/ol.js"></script> -->
        
        <script>
        
        var Status = Backbone.Model.extend({ });

        var StatusCollection = Backbone.Collection.extend({
                model : Status
        });


        var Server = Backbone.Model.extend({

            initialize: function(data) {
                this.set('os', 'test'); 
                this.set('statusCollection', new StatusCollection());
            },

            addStatus: function(statusData) {
                var statusCollection = this.get('statusCollection');
                if (statusCollection.length > 99) {
                    statusCollection.pop();
                }                
                delete statusData['id'];
                var status = new Status(statusData);
                statusCollection.add(status);
            }

        });

        var ServerCollection = Backbone.Collection.extend({
            model : Server,

            addStatus : function(id, statusData) {
                var server = this.get(id);
                if (server) {
                    server.addStatus(statusData);
                } else {
                    console.log("adding new server");
                    this.addServer(id, statusData);
                }
            },

            addServer : function(id, statusData) {
                var server = new Server();
                server.set('id', id);
                server.addStatus(statusData);
                this.add(server);
            }
        });

        var servers = new ServerCollection();
        var testserver = new Server({id : "test"});


        var ServerView = Backbone.View.extend({


            tagName: "li",

            template: _.template( $('#serverTemplate').html()),

            initialize: function(){
                this.render();
            },

            render: function() {

                var server = this.model.toJSON();
                console.log(server);
                var statuses = server.statusCollection.toJSON();
                var status = statuses[statuses.length-1]
                console.log(status);
                var display = {
                    id : server.id,
                    memory : status.memory,
                    cpus : status.cpus
                }
                this.$el.html( this.template(display));
                return this;
            }

        });

        var ServerCollectionView = Backbone.View.extend({

            tagname : 'ul',


            initalize: function() {
            },

            render: function() {
                console.log(this.collection);
                this.collection.each(function(server){
                             console.log(server);
                            var serverView = new ServerView({ model: server });
                            this.$el.append(serverView.el); // adding all the person objects.
                        }, this);
                return this;
            }
        });

        
        
        
$(function () {
    "use strict";    

    // if user is running mozilla then use it's built-in WebSocket
    window.WebSocket = window.WebSocket || window.MozWebSocket;

    // if browser doesn't support WebSocket, just show some notification and exit
    if (!window.WebSocket) {
        content.html($('<p>', { text: 'Sorry, but your browser doesn\'t '
                                    + 'support WebSockets.'} ));
        input.hide();
        $('span').hide();
        return;
    }
    

    // open connection
    var connection = new WebSocket('ws://178.62.98.218:8000');

    connection.onopen = function () {
        // first we want users to enter their names
    };

    connection.onerror = function (error) {
        // just in there were some problems with conenction...
        content.html($('<p>', { text: 'Sorry, but there\'s some problem with your '
                                    + 'connection or the server is down.' } ));
    };

    // most important part - incoming messages
    connection.onmessage = function (message) {
    
            var json = JSON.parse(message.data);
            // update(json.data);

            for (var key in json.data) {
                servers.addStatus(key, json.data[key]);
            };
                    console.log(servers);
            var serverView = new ServerCollectionView({ collection: servers });
            $('#summary-view').empty();
            $('#summary-view').append(serverView.render().el);   // adding people view in DOM.. 
                    
    };
    
    function update(data) {
        $('#summary-view').empty();
        for (var ip in data) {
            
            var server = data[ip];
            server.ip = ip;
            var id = ip.replace(/\./g, '');
                
            if (!$('#'+id).length) {
            
                $('#summary-view').append(_.template($('#server-box-template').html())({text: getServerString(server)}));
                <!-- var el = $('<div id='+id+'>' + getServerString(server) + '</div>'); -->
                <!-- $('#summary-view').append(el); -->
            } else {
            
                $('#summary-view').append(_.template('#server-box-template')("test"));
                $('#'+id).text(getServerString(server));
            }
        }
    }
            
    
    function getServerString(server) {
        var ip = 'IP: ' + server.ip;
        var toGig = 1024*1024*1024;
        var cpus = server.cpus;
        var cputext = "";
        for (var i=0; i<cpus.length; i++) {
            cputext += '<p>' + i +  ': ' + cpus[i].speed +' GHz </p>';
        }
        var memfree = Number((server.memory.free/toGig).toFixed(2));
        var memtotal = Number((server.memory.total/toGig).toFixed(2));
        var memory = 'mem: ' + memfree + '/' + memtotal + ' GB';
        return ip + ' : ' + memory  + '<br> ' + cpus[0].model + '<br>' + cputext;
    }
    /**
     * This method is optional. If the server wasn't able to respond to the
     * in 3 seconds then show some error message to notify the user that
     * something is wrong.
     */
    setInterval(function() {
        
        if (connection.readyState !== 1) {
            console.log('error');
            console.log(connection);
        }
    }, 3000);

    /**
     * Add message to the chat window
     */
    function addMessage(author, message, color, dt) {
        content.prepend('<p><span style="color:' + color + '">' + author + '</span> @ ' +
             + (dt.getHours() < 10 ? '0' + dt.getHours() : dt.getHours()) + ':'
             + (dt.getMinutes() < 10 ? '0' + dt.getMinutes() : dt.getMinutes())
             + ': ' + message + '</p>');
    }
    
    
});





        </script>
    </body>
</html>