<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Overskya</title>
        
        <style>
        
            body, html {
                padding:0;
                margin:0;
                height:100%;
            }
            #sidebar {
                float:left;
                width:300px;
                background-color:#efefef;
                height:100%;
            }            

            #map-view {
                width:200px;
                height:200px;
            }

            #three-view {
                width:200px;
                height:200px;
            }
            
            #nodes {
                float:left;
            }
        </style>  
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css">

    </head>
    <body>
        
        <div id="sidebar">
            <h3>Overskya</h3>
            
            <ul>
                <li id="menu-summary">Overview</li>
                <li id="menu-three">Load</li>
                <li id="menu-map">Map</li>
            </ul>
            
        </div>
        
        <div id="map-view"></div>
        <div id="three-view"></div>
        <div id="summary-view">
        
        
        </div>
        
        <script type="text/template" id="server-box-template">
        <div class="server-box">
            <%= text %>
        </div>
        </script>

        <script type="text/template" id="serverTemplate">
            <div id=<%=id%>
            <p>cpus: <%=cpus.length%></p>
            <p>memory: <%= Number(memory.free/Math.pow(1024,3)).toFixed(2) %> / <%=Number(memory.total/Math.pow(1024,3)).toFixed(2)%> GB</p>
            </div>
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js"></script>
        <!-- <script src="../bower_components/openlayers3/build/ol.js"></script> -->
        
        <script>
        
        var Status = Backbone.Model.extend({ });

        var StatusCollection = Backbone.Collection.extend({
                model : Status
        });


        var Server = Backbone.Model.extend({

            initialize: function(data) {
                this.set('os', 'test'); 

                this.set('statusCollection', new StatusCollection());
                this.get('statusCollection').on('add',
                    function(status) {
                        console.log('added status'); 
                        this.statusCollectionChanged(this);

                    }, this);
            },
            statusCollectionChanged: function(model) {
                // trigger new event.
                this.trigger('change', this, model);
            },
            addedStatus: function() {
                // this.trigger('statusadded', this);
            },

            addStatus: function(statusData) {
                var statusCollection = this.get('statusCollection');
                if (statusCollection.length > 99) {
                    statusCollection.pop();
                }                
                delete statusData['id'];
                var status = new Status(statusData);
                statusCollection.add(status);
            }

        });

        var ServerCollection = Backbone.Collection.extend({
            model : Server,

            initialize: function() {
                this.on( "change", 
                    function(d){                        
                        console.log('change');
                        console.log(d);
                    }, 
                    this);
            },

            addStatus : function(id, statusData) {
                var server = this.get(id);
                if (server) {
                    server.addStatus(statusData);
                } else {
                    console.log("adding new server");
                    this.addServer(id, statusData);
                }
            },

            addServer : function(id, statusData) {
                var server = new Server();
                server.set('id', id);
                server.addStatus(statusData);
                this.add(server);
            }

        });


        var servers = new ServerCollection();
        var testserver = new Server({id : "test"});


        var ServerView = Backbone.View.extend({

            tagName: "li",

            template: _.template( $('#serverTemplate').html()),

            initialize: function(){
                this.render();
            },

            render: function() {

                var server = this.model.toJSON();
                var statuses = server.statusCollection.toJSON();
                var status = statuses[statuses.length-1]

                var display = {
                    id : server.id,
                    memory : status.memory,
                    cpus : status.cpus
                }
                this.$el.html( this.template(display));
                return this;
            }

        });

        var ServerCollectionView = Backbone.View.extend({

            tagname : 'ul',

            initalize: function() {
                render();
                this.listenTo(this.collection, 'change', function(d) {
                    this.render();
                    console.log('server collection change');
                });
            },

            render: function() {
                /* Redrawing on every update... */
                this.$el.empty();
                this.collection.each(function(server){
                            var serverView = new ServerView({ model: server });
                            this.$el.append(serverView.el); 
                        }, this);
                return this;
            }

        });

        function getMap() {

            var map = L.map('map-view');

            // create the tile layer with correct attribution
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osm = new L.TileLayer(osmUrl, {});       

            // start the map in South-East England
            map.setView(new L.LatLng(51.3, 0.7),1);
            map.addLayer(osm);
            return map;
        }


        
        


        var ServerMapCollectionView = Backbone.View.extend({

            initialize: function() {
                // getThree();     
                // this.map = getMap();
                // this.render();
                // this.listenTo(this.collection, 'change', function(d) {
                //     this.render();
                // });
            },

            render: function() {
                L.marker([90*Math.random(), 90*Math.random()]).addTo(this.map);
            }

        });

        var ServerThreeCollectionView = Backbone.View.extend({
            initialize: function() {
                getThree();     
                this.map = getMap();
                this.render();
                this.listenTo(this.collection, 'change', function(d) {
                    this.render();
                });
            },

            render: function() {
                L.marker([90*Math.random(), 90*Math.random()]).addTo(this.map);
            }
        });

        var mapView = new ServerMapCollectionView({ collection: servers });
        var serverView = new ServerCollectionView({ collection: servers });
        
        
$(function () {
    "use strict";    

    // if user is running mozilla then use it's built-in WebSocket
    window.WebSocket = window.WebSocket || window.MozWebSocket;

    // if browser doesn't support WebSocket, just show some notification and exit
    if (!window.WebSocket) {
        content.html($('<p>', { text: 'Sorry, but your browser doesn\'t '
                                    + 'support WebSockets.'} ));
        input.hide();
        $('span').hide();
        return;
    }
    

    // open connection
    var connection = new WebSocket('ws://178.62.98.218:8000');

    connection.onopen = function () {
        // first we want users to enter their names
    };

    connection.onerror = function (error) {
        // just in there were some problems with conenction...
        content.html($('<p>', { text: 'Sorry, but there\'s some problem with your '
                                    + 'connection or the server is down.' } ));
    };

    // most important part - incoming messages
    connection.onmessage = function (message) {
    
            var json = JSON.parse(message.data);
            for (var key in json.data) {
                servers.addStatus(key, json.data[key]);
            };

            updateViews(servers)

                    
    };


    function updateViews(servers) {
        $('#summary-view').empty();
        $('#summary-view').append(serverView.render().el);   // adding people view in DOM.. 

    }



    setInterval(function() {
        
        if (connection.readyState !== 1) {
            console.log('error');
            console.log(connection);
        }
    }, 3000);


    
});

function getThree() {

            var container = $('#three-view');
            var scene = new THREE.Scene();
            var camera = new THREE.PerspectiveCamera( 70, container.width() / container.height(), 1, 10000 );
                camera.position.z = 400;
            
            var renderer = new THREE.WebGLRenderer();
            var mesh;





                var geometry = new THREE.BoxGeometry( 200, 200, 200 );
                var material = new THREE.MeshBasicMaterial();

                mesh = new THREE.Mesh( geometry, material );
                scene.add( mesh );

                renderer.setPixelRatio( window.devicePixelRatio );
                renderer.setSize( container.width() , container.height() );
                container.append( renderer.domElement );





            animate();



            function animate() {

                requestAnimationFrame( animate );

                mesh.rotation.x += 0.005;
                mesh.rotation.y += 0.01;

                renderer.render( scene, camera );

            }



        }





        </script>
    </body>
</html>